#pragma once

// Wi-Fiの接続情報
#define SECRET_SSID     "YOUR_WIFI_SSID"
#define SECRET_PASSWORD "YOUR_WIFI_PASSWORD"

// 固定IPのアドレス構成（カンマ区切りで記述）
#define SECRET_LOCAL_IP   192, 168, 1, 150
#define SECRET_GATEWAY    192, 168, 1, 1
#define SECRET_SUBNET     255, 255, 255, 0
#define SECRET_DNS_1      192, 168, 1, 1
#define SECRET_DNS_2      8, 8, 8, 8

#define SECRET_SERVER_IP 192, 168, 1, 151